name: Run tests and upload coverage

on:
  push:
    paths:
      - "src/**"
      - ".github/workflows/coverage.yml"

jobs:
  test:
    name: Run tests and collect coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 2

      - name: Set up Node
        uses: actions/setup-node@v6

      - name: Install dependencies
        working-directory: ./src
        run: npm install

      - name: Run tests
        working-directory: ./src
        run: npx vitest run --coverage

      - name: Upload results to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          working-directory: ./src
